div{
    width:200px;
    height:200px;
    background-color:purple;
     }
     div:hover{
     background-color: #f89b4d;
    }

    /*:first-child y :last-child*/
    /*:nth-child()*/

    span{
        background-color: yellow;
        border:1px solid black;
        padding: 10px;
    }
    span:hover{
        background-color: purple;
    }

    span:after{
        content: "despues";
        background-color: red
    }
    /* span: before{
       content: ¨antes¨
        background-color:blue;
    }*/

    